[submodule "vendor/Catch2"]
	path = vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendor/GTEngine"]
	path = vendor/GTEngine
	url = https://github.com/bwl-modules/GTEngine.git
